/* ========== COMMON STYLES ========== */
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 367px;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper-content {
    margin-right: auto;
    margin-left: auto;
  }
}
/* ========== /COMMON STYLES ========== */

/* ========== HEADER MOBILE STYLES ========== */
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-header {
  display: none;
}

.contacts-address {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  color: #4d5ae5;
}

.logo-header-span {
  color: #2e2f42;
}
/* ========== /HEADER MOBILE STYLES ========== */

/* ========== MOBILE MENU STYLES ========== */

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    padding-left: 16px;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-wrapper-for-btn {
    position: relative;
  }

  .mobile-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .menu-close-btn {
    position: absolute;
    top: 24px;
    right: 8px;
    padding: 0px;
    line-height: 0;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    fill: #2e2f42;
  }

  .menu-close-btn:hover,
  .menu-close-btn:focus {
    border: none;
    fill: #ffffff;
    background-color: #404bbf;
  }

  .menu-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-wrapper {
    padding-top: 72px;
    margin-bottom: 168px;
  }

  .mobile-menu-item {
    margin-bottom: 40px;
  }

  .mobile-menu-item:last-child {
    margin-bottom: 0;
  }

  .mobile-menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: #404bbf;
  }

  .studio-link {
    color: #404bbf;
  }

  .contacts-adress-mobile-wrapper {
    margin-bottom: 48px;
  }

  .menu-adress-item-mobile {
    margin-bottom: 24px;
  }

  .menu-adress-item-mobile:last-child {
    margin-bottom: 0;
  }

  .contacts-mobile {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-mobile:focus {
    color: #4d5ae5;
  }

  .networks-list-menu-mobile {
    display: flex;
  }

  .networks-item-menu-mobile {
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: 40px;
  }

  .networks-item-menu-mobile:last-child {
    margin-right: 0;
  }

  .networks-link-menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
  }

  .networks-link-menu-mobile:hover,
  .networks-link-menu-mobile:focus {
    background-color: #404bbf;
  }

  .networks-icon-menu-mobile {
    fill: #f4f4fd;
  }
}

/* ========== /MOBILE MENU STYLES ========== */

/* ========== HERO MOBILE STYLES ========== */
.hero-section {
  height: 432px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_mobile@2x.jpg);
  }
}

.hero-title {
  max-width: 288px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  text-align: center;
  margin-bottom: 72px;
  color: #ffffff;
}

.hero-btn {
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* ========== /HERO STYLES ========== */

/* ========== ADVANTAGES MOBILE STYLES ========== */
.advantages-wrapper {
  display: none;
}

.mobile-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-main-wrapper {
  padding-right: 16px;
  padding-left: 16px;
}

.advantages-title {
  width: 288px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  color: #2e2f42;
}

.advantages-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 288px;
  color: #434455;
}

.advantages-item {
  margin-bottom: 72px;
}

.advantages-item:last-child {
  margin-bottom: 0;
}
/* ========== /ADVANTAGES MOBILE STYLES ========== */

/* ========== TEAM MOBILE STYLES ========== */
.container-team {
  padding-left: 28px;
  padding-right: 28px;
}

.team-section {
  background-color: #f4f4fd;
}

.team-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  color: #2e2f42;
}

.info-container {
  padding-top: 32px;
}

.team-list {
  width: 264px;
}

.info-participant {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  margin-bottom: 72px;
}

.info-participant:last-child {
  margin-bottom: 0;
}

.participant-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  color: #2e2f42;
}

.participant-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.networks-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 32px;
}

.networks-item {
  width: 40px;
  height: 40px;
}

.networks-link {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
}

.networks-link:hover,
.networks-link:focus {
  background-color: #404bbf;
}

.participant-icon {
  fill: #f4f4fd;
}
/* ========== /TEAM MOBILE STYLES ========== */

/* ========== PORTFOLIO MOBILE STYLES ========== */
.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 48px;
}

.portfolio-item {
  border: 1px solid #e7e9fc;
  width: 288px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .text-overlay {
  transform: translateY(0%);
}

.portfolio-container {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  color: #2e2f42;
}

.direction-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}

.direction-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  padding-right: 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ========== /PORTFOLIO MOBILE STYLES ========== */

/* ========== FOOTER MOBILE STYLES ========== */

.footer-info {
  width: 100%;
  max-height: 664px;
  background-color: #2e2f42;
}

.wrapper-content {
  padding-top: 97.5px;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-left: 102px;
  padding-right: 103px;
}

.logo-footer-span {
  color: #f4f4fd;
}

.wrapper-content {
  max-width: 320px;
}

.footer-description {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 17.5px;
  margin-bottom: 72px;
  color: #f4f4fd;
}

.social-media-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
  padding-left: 112px;
  padding-right: 112px;
  text-wrap: wrap;
}

.networks-list-footer {
  display: flex;
  column-gap: 16px;
  padding-left: 56px;
  padding-right: 56px;
  margin-bottom: 72px;
}

.networks-item-footer {
  width: 40px;
  height: 40px;
}

.networks-link-footer {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
}

.networks-link-footer:hover,
.networks-link-footer:focus {
  background-color: #31d0aa;
}

.networks-icon {
  fill: #f4f4fd;
}

.footer-form {
  row-gap: 24px;
}

.footer-form-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
  padding-left: 122px;
  padding-right: 123px;
}

.footer-form-field-label {
  padding-left: 16px;
  padding-right: 16px;
}

.footer-form-field {
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  padding-left: 16px;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  opacity: 0.3;
}

.footer-form-field::placeholder {
  color: #ffffff;
}

.btn-wrapper {
  padding-left: 77px;
  padding-right: 78px;
  padding-bottom: 96px;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  color: #ffffff;
}

.telegram-subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/* ========== /FOOTER MOBILE STYLES ========== */

/* ========== BACKDROP MOBILE STYLES ========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ========== /BACKDROP MOBILE STYLES ========== */

/* ========== MODAL WINDOW MOBILE STYLES ========== */
.modal {
  position: absolute;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53.5%);
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 24px;
  padding: 0px;
  line-height: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
  min-width: 256px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* ========== MODAL WINDOW MOBILE STYLES ========== */

/* ========== REVIEW FORM STYLES ========== */
.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field-comment-wrapper {
  margin-bottom: 16px;
}

.review-form-field-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}

.review-form-input-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.review-form-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.review-form-field:focus {
  outline-color: transparent;
  outline-offset: 4px;
  border-color: #4d5ae5;
}

.review-form-field-icon {
  width: 18px;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field:focus + .review-form-field-icon {
  fill: #4d5ae5;
}

.review-form-message {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.review-form-message:focus {
  outline-color: transparent;
  outline-offset: 4px;
  border-color: #4d5ae5;
}

.review-form-checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.review-form-checkbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.review-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  margin-right: auto;
  margin-left: auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ========== /REVIEW FORM STYLES ========== */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  /* ==========  HEADER TABLET STYLES ========== */
  .menu-header {
    display: flex;
  }

  .contacts-address {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu-btn {
    display: none;
  }

  .page-header {
    max-height: 72px;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    max-height: 72px;
  }

  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
  }

  .page-navigation {
    display: flex;
    align-items: center;
  }

  .menu-item {
    margin-right: 40px;
  }

  .menu-item:last-child {
    margin-right: 0;
  }

  .logo {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-right: 120px;
  }

  /* ========== LINKS TABLET STYLES ========== */
  .menu-link {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .studio-link::after {
    position: absolute;
    content: '';
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    bottom: -2px;
    left: 0;
  }

  .studio-link {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* ========== /LINKS TABLET STYLES ========== */

  /* ========== ADDRESS TABLET STYLES ========== */
  .menu-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts:hover,
  .contacts:focus {
    color: #404bbf;
  }
  /* ========== /ADDRESS TABLET STYLES ========== */

  /* ========== HERO TABLET STYLES ========== */
  .hero-section {
    height: 436px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_tablet.jpg);
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (-webkit-min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg_tablet@2x.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
    height: 120px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 36px;
    text-transform: none;
  }
  /* ========== /HERO TABLET STYLES ========== */

  /* ========== ADVANTAGES TABLET STYLES ========== */

  .advantages-main-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .advantages-list {
    display: flex;
    width: 768px;
    flex-wrap: wrap;
  }

  .advantages-item {
    width: calc(100% - 1 * 24px) / 4;
    margin-right: 24px;
    margin-bottom: 72px;
  }

  .advantages-item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  .advantages-title {
    text-align: start;
    width: 264px;
  }

  .advantages-description {
    width: 356px;
  }
  /* ========== /ADVANTAGES TABLET STYLES ========== */

  /* ========== TEAM TABLET STYLES ========== */
  .container-team {
    padding: 0;
  }

  .team-list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 64px;
    column-gap: 24px;
    padding-left: 108px;
    padding-right: 108px;
    justify-content: center;
  }

  .info-participant {
    width: calc((100% - 24px) / 2);
    height: 100%;
    margin-bottom: 0;
  }

  /* ========== /TEAM TABLET STYLES ========== */

  /* ========== PORTFOLIO TABLET STYLES ========== */
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-item {
    width: 356px;
  }
  /* ========== /PORTFOLIO TABLET STYLES ========== */

  /* ========== FOOTER TABLET STYLES ========== */
  .footer.info {
    display: flex;
  }

  .wrapper-content {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 108px;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper-info {
    margin-right: 24px;
  }

  .footer-form {
    display: inline-flex;
    padding-bottom: 0;
  }

  .subscribe-footer-wrapper {
    width: 453px;
    padding-bottom: 96px;
  }

  .logo-footer {
    padding: 0;
  }

  .footer-description {
    padding: 0;
    width: 264px;
  }

  .social-media-desc {
    padding: 0;
  }

  .networks-list-footer {
    margin-bottom: 0;
    padding: 0;
  }

  .footer-form-description {
    padding-bottom: 16px;
    padding-left: 0;
    margin-bottom: 0;
  }

  .footer-form-field-label {
    padding-left: 0;
    padding-right: 24px;
  }

  .footer-form-field {
    width: 264px;
    margin: 0;
  }

  .btn-wrapper {
    padding: 0;
  }

  /* ========== /FOOTER TABLET STYLES ========== */

  /* ========== MODAL WINDOW TABLET STYLES ========== */
  .modal {
    width: 408px;
    min-height: 584px;
  }
  /* ========== /MODAL WINDOW TABLET STYLES ========== */
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  /* ========== HEADER DESKTOP STYLES ========== */
  .logo {
    margin-right: 76px;
  }

  .contacts-address {
    display: flex;
  }

  .menu-address {
    flex-direction: row;
    column-gap: 40px;
  }

  .contacts {
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* ========== /HEADER DESKTOP STYLES ========== */

  /* ========== HERO DESKTOP STYLES ========== */
  .hero-section {
    max-width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/bg_desktop.jpg');
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (-webkit-min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: url(../images/bg_desktop@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
  /* ========== /HERO DESKTOP STYLES ========== */

  /* ==========  ADVANTAGES DESKTOP STYLES ========== */
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-main-wrapper {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .advantages-list {
    flex-wrap: nowrap;
    width: 1128px;
  }

  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
  }

  .advantages-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    width: 264px;
    height: 112px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
  }

  .advantages-description {
    width: 264px;
  }

  .advantages-list {
    display: flex;
  }

  .advantages-item {
    width: calc(100% - 3 * 24px) / 4;
    margin-right: 24px;
    margin-bottom: 0;
  }

  .advantages-item:last-child {
    margin-right: 0;
  }

  /* ========== /ADVANTAGES DESKTOP STYLES ========== */

  /* ========== TEAM DESKTOP STYLES ========== */
  .team-list {
    width: calc((100% - 4 * 24) / 4);
    flex-wrap: nowrap;
  }

  /* ========== /TEAM DESKTOP STYLES ========== */

  /* ========== PORTFOLIO DESKTOP STYLES ========== */
  .portfolio-list {
    row-gap: 48px;
  }
  /* ========== /PORTFOLIO DESKTOP STYLES ========== */

  /* ========== FOOTER DESKTOP STYLES ========== */
  .footer.info {
    padding: 0;
  }

  .wrapper-content {
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    max-width: 1158px;
  }

  .wrapper-info {
    padding-left: 156px;
    padding-top: 101.5px;
    margin-right: 120px;
  }

  .wrapper-networks {
    padding-top: 100px;
    margin-right: 80px;
  }

  .subscribe-footer-wrapper {
    padding-top: 100px;
  }

  .footer-description {
    margin-bottom: 0;
  }
  /* ========== /FOOTER DESKTOP STYLES ========== */
}
