/* ========== COMMON STYLES ========== */
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  width: 100%;
}

/* ========== /COMMON STYLES ========== */

/* ========== HEADER STYLES ========== */

.container-header {
  display: flex;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid#e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-navigation {
  display: flex;
  align-items: center;
}

.menu-header {
  display: flex;
}

.menu-item {
  margin-right: 40px;
}

.menu-item:last-child {
  margin-right: 0;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  margin-right: 76px;
}

.logo-header-span {
  color: #2e2f42;
}
/* ========== LINKS STYLES ========== */

.menu-link {
  position: relative;
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.studio-link::after {
  position: absolute;
  content: '';
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  bottom: -1px;
}

.studio-link {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========== /LINKS STYLES ========== */

/* ========== ADDRESS STYLES ========== */
.contacts-address {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

.menu-address {
  display: flex;
  column-gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts {
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/* ========== /ADDRESS STYLES ========== */

/* ========== /HEADER STYLES ========== */

/* ========== MAIN STYLES ========== */

/* ========== HERO STYLES ========== */

.hero-section {
  background-color: #2e2f42;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/office_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ========== /HERO STYLES ========== */

/* ========== ADVANTAGES STYLES ========== */

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: 264px;
  margin-bottom: 8px;
}

.advantages-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
}

.advantages-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.advantages-list {
  display: flex;
}

.advantages-item {
  margin-right: 24px;
}

.advantages-item:last-child {
  margin-right: 0;
}

.advantages-item {
  width: calc(100%-3 * 24px) / 4;
}

/* ========== /ADVANTAGES STYLES ========== */

/* ========== TEAM STYLES ========== */

.team-section {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  width: calc(100%-4 * 24) / 4;
}

.info-container {
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
}

.team-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.info-participant {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  margin-right: 24px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-participant:last-child {
  margin-right: 0;
}

.participant-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.participant-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.networks-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.networks-item {
  width: 40px;
  height: 40px;
}

.networks-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-link:hover,
.networks-link:focus {
  background-color: #404bbf;
}

.participant-icon {
  fill: #f4f4fd;
}

/* ========== /TEAM STYLES ========== */

/* ========== PORTFOLIO STYLES ========== */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  display: block;
  border: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .text-overlay {
  transform: translateY(0%);
}

.portfolio-container {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.direction-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.direction-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  padding-right: 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ========== /PORTFOLIO STYLES ========== */

/* ========== /MAIN STYLES ========== */

/* ========== FOOTER STYLES ========== */
.footer-info {
  background-color: #2e2f42;
  width: 100%;
  height: 312px;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}

.logo-footer-span {
  line-height: 1.17;
  color: #f4f4fd;
}

.wrapper-content {
  display: flex;
  align-items: baseline;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 156px;
  position: relative;
}

.footer-description {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  margin-top: 17.5px;
}

.social-media-desc {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.networks-list-footer {
  display: flex;
  gap: 16px;
}

.networks-item-footer {
  width: 40px;
  height: 40px;
}

.networks-link-footer {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-link-footer:hover,
.networks-link-footer:focus {
  background-color: #31d0aa;
}

.wrapper-info {
  margin-right: 120px;
  max-width: 264px;
}

.networks-icon {
  fill: #f4f4fd;
}

.footer-form {
  position: absolute;
  display: inline-flex;
  top: 50;
  right: 50;
  gap: 24px;
}

.subscribe-footer-wrapper {
  width: 453px;
  margin-left: 80px;
  margin-right: 24px;
}

.footer-form-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-form-field {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form-field::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  color: #ffffff;
  text-align: start;
  padding-left: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  margin-left: 24px;
  border: none;
}

.telegram-subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* ========== /FOOTER STYLES ========== */

/* ========== BACKDROP STYLES ========== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ========== /BACKDROP STYLES ========== */

/* ========== MODAL WINDOW STYLES ========== */

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53.5%);
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 24px;
  padding: 0px;
  line-height: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
  min-width: 360px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* ========== /MODAL WINDOW STYLES ========== */

/* ========== REVIEW FORM STYLES ========== */
.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field-comment-wrapper {
  margin-bottom: 16px;
}

.review-form-field-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}

.review-form-input-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.review-form-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.review-form-field:focus {
  outline-color: transparent;
  outline-offset: 4px;
  border-color: #4d5ae5;
}

.review-form-field-icon {
  width: 18px;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field:focus + .review-form-field-icon {
  fill: #4d5ae5;
}

.review-form-message {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.review-form-message:focus {
  outline-color: transparent;
  outline-offset: 4px;
  border-color: #4d5ae5;
}

.review-form-checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.review-form-checkbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.review-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  margin-right: auto;
  margin-left: auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ========== /REVIEW FORM STYLES ========== */
